@font-face {
    font-family: "hacker";
    src: url('../font/hacker.eot?') format("eot"), url('../font/hacker.woff') format("woff"), url('../font/hacker.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background-image: url('../img/hack.jpg');
}
img {
    padding: 10px 0;
}
h1, h2, h3 {
    text-align: center;
}
.jumbotron {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.jumbotron h1 {
    margin-top: 0;
    font-size: 2.8em;
    font-family: hacker, sans-serif;
    text-transform: uppercase;
    color: #50f148;
}
.jumbotron h3 {
    font-size: 1.5em;
    color: #489FF1;
}
.panel-default {
    border-color: #999;
}
.panel {
    background-color: #ddd;
}
.panel-default>.panel-heading {
    background-color: #aaa;
    border-color: #999;
}
#info, #defeat {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#battle-stats {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.btn:focus {
    color: #ccc;
}
.btn-char {
    margin: 5px 7px;
    color: #ccc;
    background-color: #444;
    border-color: #888;
}
.btn-char:hover {
    color: #ccc;
    background-color: #222;
    border-color: #888;
}
.btn-hacker {
    color: #50f148;
    background-color: #444;
    border-color: #888;
}
.btn-hacker:hover {
    color: #50f148;
    background-color: #222;
    border-color: #888;
}
.btn-defender {
    color: #F1484B;
    background-color: #444;
    border-color: #888;
}
.btn-defender:hover {
    color: #F1484B;
    background-color: #222;
    border-color: #888;
}
#reset {
    margin-bottom: 20px;
}
