@font-face {font-family:"STARWARS";src:url('../font/STARWARS.eot?') format("eot"),url('../font/STARWARS.woff') format("woff"),url('../font/STARWARS.ttf') format("truetype"),url('..font/STARWARS.svg#STARWARS') format("svg");font-weight:normal;font-style:normal;}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background-image: url('../img/stars.jpg');
}
img {
    max-width: 100px
}
.jumbotron {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.jumbotron h1 {
    margin-top: 0;
    font-size: 2.8em;
    font-family: STARWARS, sans-serif;
    text-transform: uppercase;
    color: #F9ED3E;
}
.jumbotron h3 {
    font-size: 1.5em;
    color: #26DCE7;
}
#info {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#battle-stats {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.btn.char,
.enemy {
	margin: 5px;
}
#luke,
#kenobi {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
#luke:hover,
#kenobi:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
#vader,
#sidious {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
#vader:hover,
#sidious:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}
#reset {
    margin-bottom: 20px;
}
